body{
    padding-bottom: 500px;
}
h1{
    color: rgb(0, 0, 0);
}

/*Display*/

.superior-direito{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 520px; /* Defina o tamanho da imagem conforme desejado */
    height: auto;

}
.inline1 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(212, 14, 14);
    margin: 5px;
    display: inline-block;
}

.inline2 {

    border-radius: 5px;
    width: 50px;
    height: 50px;
    background-color: green;
    margin: 2px;
    display: inline-block;

}

.inline3 {

    border-radius: 5px;
    width: 50px;
    height: 50px;
    background-color: green;
    margin: 2px;
    display: inline-block;

}

.block {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    background-color: green;
    margin: 5px;
    display: block;
}

.block2{
    border-radius: 5px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color:green;
    margin: 4px;
    top: 72px;
    left: 71px; 

    display: block;
}

.block3 {
    border-radius: 5px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: green;
    margin: 6px;
    top: 125px;
    left: 69px; 

    display: block;
}

.block4 {
    border-radius: 5px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: green;
    margin: 5px;
    
    top: 182px;
    left: 70px; 
    
}

.blockInd {

    border-radius: 5px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: green;
    margin: 5px;
    
    top: 126px;
    left: 128px; 

}
